
nav{
    display: flex;
     background-color: #219EBC; 
}
.top-image {
    width: 5%;
    height: 40%;
   
  }


  .top-menu{
      display: flex;
      margin-left: 80%;
  }

 .top-menu-item{
    font-size: 1.3em;
    list-style:none;
  }
  .top-menu-item{
      margin-top: 15%;
      margin-right: 50%;
  }

  li:hover{
      color:aquamarine
  }

