#Texto{
    width: 50%;
    background-color: #f8d681;
    margin:auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center
}

#Contato{
    width: 50%;
    background-color: #f8d681;
    margin:auto;
   display: flex;
   flex-wrap: wrap;
}